.button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 1em;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.header {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 20px;
  background-color: #b6cee8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.a {
  color: #007bff;
  text-decoration: none;
}

.app {
  min-height: 18em;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.step-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.hidden {
  display: none !important;
}

.code-box {
  font-size: 1.5rem;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  word-break: break-all;
}

.spinner-container {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #333;
  animation: spin 1s infinite linear;
}

.spinner.hidden {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.input,
.select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
}

.card h4 {
  margin-top: 0;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.form {
  text-align: left;
}

.back {
  font-size: 1.2em;
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 10px;
}